<div class="sub-menu">
	<div class="sub-title"><h3>Forgot your password?</h3></div>
</div>
<div class="large-4 columns large-centered">
<fieldset style="margin-top:50px;background:#fff;">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit "Send Email Reset PWD", class: "button success tiny ",style:"margin-bottom:0px;background:#0BA59A;border-radius:2px;" %></div>
<% end %>
</fieldset>
</div>