<div class="sub-menu">
	<div class="sub-title"><h3>Find what you need....</h3></div>
</div>
<%= render "layouts/msg" %>
<div class="pagination-centered" style="margin-top:20px;">
	<%= will_paginate @products, renderer: FoundationPagination::Rails %>
</div>
<div class="content-body">
<!-- <hr style="width:93.4%;margin-top:3px;"> -->

	<% @products.each do |product| %>	
	<%= link_to site_show_path(product_id: product) do %>
		<div class="box">
			<div class="pro-image"><%= image_tag (product.image) %></div>
			<div class="pro-name"><%= truncate(product.name, length: 26) %></div>
			<div class="pro-desc"><%= truncate(product.description, length: 125) %></div>
		</div>
	<% end %>
<% end %>
	<!-- <hr style="width:93.5%;margin-top:3px;"> -->
</div>
<div class="pagination-centered">
	<%= will_paginate @products, renderer: FoundationPagination::Rails %>
</div>