<div class="content-footer">
<div class="large-12 small-12 medium-12 columns" style="padding:0px;">
	<div class="large-4 small-4 medium-4 columns"style="margin-top:30px;">
		<h3 style="color:#fff;font-size:1.2em;font-family: 'Yanone Kaffeesatz', sans-serif;">Bright of Rails</h3>
		<p style="color:#868686;font-size:0.9em;">After learning about Internet what more natural than to share in turn? Passionate about the web for a little over 5 years now I love to share my skills and discoveries with people who have that same passion for the web</p>
		<div class="my-img">
			<small><%= image_tag "facebook.png" %></small>
			<small><%= image_tag "twitter.png" %></small>
			<small><%= image_tag "googleplus.png" %></small>
			<small><%= image_tag "linkedin.png" %></small>
		</div>
	</div>
	<div class="large-4 small-4 medium-4 columns"style="margin-top:30px; ">
		<h3 style="color:#fff;font-size:1.2em;font-family: 'Yanone Kaffeesatz', sans-serif;">Our Service</h3>
		<p style="color:#868686;font-size:0.9em;">After learning about Internet what more natural than to share in turn? Passionate about the web for a little over 5 years now I love to share my skills and discoveries with people who have that same passion for the web</p>
		<div class="my-img">
			<small><%= image_tag "facebook.png" %></small>
			<small><%= image_tag "twitter.png" %></small>
			<small><%= image_tag "googleplus.png" %></small>
			<small><%= image_tag "linkedin.png" %></small>
		</div>
	</div>
	<div class="large-4 small-4 medium-4 columns"style="margin-top:30px; ">
		<h3 style="color:#fff;font-size:1.2em;font-family: 'Yanone Kaffeesatz', sans-serif;"><div class="sub-footer-title">Our Service</div><hr style="margin:5px;"></h3>
		<p style="color:#868686;font-size:0.9em;">After learning about Internet what more natural than to share in turn? Passionate about the web for a little over 5 years now I love to share my skills and discoveries with people who have that same passion for the web</p>
		<div class="my-img">
			<small><%= image_tag "facebook.png" %></small>
			<small><%= image_tag "twitter.png" %></small>
			<small><%= image_tag "googleplus.png" %></small>
			<small><%= image_tag "linkedin.png" %></small>
		</div>
	</div>
	</div>
</div>