<div class="container">
	<ul class="menu-2-left">
		<li><%= link_to "Blog", root_path %></li>
		<li><%= link_to "Tutorails", site_tutorails_path %></li>
		<li><%= link_to "Forum", site_forum_path %></li>
		<li><%= link_to "Contact", site_contact_path %></li>
	</ul>

	<ul class="menu-2-right">
		<% if user_signed_in? %>
			<li><%= link_to '<i class="fa fa-power-off"></i> Logout'.html_safe, destroy_user_session_path, method: :delete %></li>
		<% else %>
			<li><%= link_to "Login / Register", new_user_session_path %></li>
		<% end %>
	</ul>
</div>