<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Bright-of-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="wrapper">
    <div class="navigate">
      <div class="menu">
          <div class="my-logo"><%= image_tag "light.png", size: "100" %>
          <h3>Bright of Rails</h3>
          <hr>
          </div>
      </div>
    </div>
    <div class="menu-body">
    <%= render "layouts/header" %>
    <%= yield %>
    </div> 
    <div class="menu-footer">
      <div class="footer-fix">
          <%= render "layouts/footer" %>
      </div>
    </div>
  </div>
    </script>
    <%= javascript_include_tag "application" %>
  </body>
</html>